:root {
    --main-bg-color: brown;
    --backgroundColor: #1E2D3B;
    --cardBackground: #2E3A46;
    --textLight: #797E7A;
    --textColor: white;
}

header .bg-color {
    background-color: var(--cardBackground);
}
header .container-fluid img {
    height: 50px;
    margin: 0.7em 0;
    margin-left: 1.8em;
}
main .bg-color {
    background-color: var(--cardBackground);       
};
main .container-fluid {
    height: calc(100vh - 50px - 1.4em);
    width: 100vw;
};
.card-bg-color {
    background-color: var(--cardBackground);
}
.col h4 {
    padding-top: 0.5em
};
.col h5 {
    color: var(--textLight);
    margin-top: 1em
};
.col h6 {
    color: var(--textLight);
};
.col img {
    width: 100%;
}
.w-60 {
    width: 60%;
}
.centered {
    margin: 0 auto;
}
.pt-6 {
    padding-top: 4em;
}
