:root {
    --main-bg-color: brown;
    --backgroundColor: #1E2D3B;
    --cardBackground: #2E3A46;
    --textLight: #797E7A;
    --textColor: white;
}
.w-60 {
    width: 60%;
}
.centered {
    margin: 0 auto;
}
.pt-6 {
    padding-top: 4em;
}
.bg-color {
    background-color: var(--backgroundColor);       
}
main .container-fluid {
    height: calc(100vh - 50px - 1.4em);
    width: 100vw;
}
.c-wrapper h4 {
    padding-top: 0.5em;
}
.c-wrapper h5 {
    color: var(--textLight) !important;
    margin-top: 1em;
}
.c-wrapper h6 {
    color: var(--textLight);
}
.header .bg-color {
    background-color: var(--cardBackground) !important;
}
.header .container-fluid img {
    height: 50px;
    margin: 0.7em 0;
    margin-left: 1.8em;
}
/* cards */
